.mlauto_term_item {
	display:inline-block;
	padding: 5px;
}

.mlauto_term_list {
	display: flex;
	flex-wrap: wrap;
}


/*Settings page*/

.classifier_container {
	margin: 2%;
	padding: 2%;
	background-color: #cccccc;
	border-radius: 5px;
}

#mlauto_save_settings_form {
	display : flex;
	flex-wrap: wrap;
}

#mlauto_save_settings_form > div {
	width: 45%;
	margin-right: 4%;
	margin-bottom: 2em;
}


.mlauto_checkbox {
	display: flex;
	flex-wrap: wrap;
}

.mlauto_checkbox > label {
	margin-right: 10px;
}

.mlauto_button {
	margin-right: 10px !important;
}

@media screen and (max-width: 500px) {
  .mlauto_save_settings_form {
    flex-direction: column;
  }

  #mlauto_save_settings_form > div {
  	width: 100%;
  }
}


.mlauto_classifier_info_item {
	margin-right: 3em;
}


.mlauto_classifier_info_item > span {
	margin-right: 2em;
}

.classifier_info_list {
	display: flex;
	flex-wrap: wrap;
}